Repository OpenCircuits/OpenCircuits, pull requests merged in 2019-10, with the labels that each got.

#407 Added color saving
  app/digital/ts/models/ioobjects/outputs/LED.ts
Labels: ready to merge

#409 Fix #408 by building Docker image with CGO enabled
  Dockerfile
Labels: docker, ready to merge

#418 Added the flags for IP address and Port
  site/go/main.go
Labels: go

#427 Improve Docker Caching and set default port to 80
  Dockerfile
  package.json
Labels: docker, ready to merge
